<div class="tv-show" [ngStyle]="{'background-image': 'url(' + (background$ | async) + ')'}">
  <loader-tv-show *ngIf="loadingInfo"></loader-tv-show>
  <button class='btn btn--close-show' routerLink="/">
    x
  </button>
  
  <header class="tv-show__header">
    <h2 class="tv-show__title">
        {{ title$ | async }}
      </h2>
      <div class="tv-show__quick-info">
        <div class="tv-show__genres">
          <span class="tv-show__genre" *ngFor="let genre of genres$ | async">
            {{ genre.Title + ' / '}}  
          </span>
        </div>
        <span class="tv-show__year">
          {{ year$ | async }}
        </span>
      </div>
  </header>

  <main class="tv-show__body">
    <aside class="tv-show__seasons-episodes">
      <tab-controller>
        <div *ngFor="let season of seasons$ | async; index as i">
          <tab class="tab" [title]="'T' + season.id" [isActive]="i == 0">
            <season class="season-container"
              [seasonData]="season">
            </season>
          </tab>
        </div>
      </tab-controller>
    </aside>
  </main>

  <footer class="tv-show__footer">
    <tab-controller>
      <tab class="tab tab--general" [title]="'general'" [isActive]="true">
        {{ synopsis$ | async }}
      </tab>
      <tab class="tab tab--cast" [title]="'cast'">
        <div *ngFor="let actor of cast$ | async">
          <span class="actor">
            {{actor.Name}}
          </span>
        </div>
      </tab>  
    </tab-controller>
  </footer>

</div>
