/** VARIABLES */
$headerHeight: 120px;
$footerHeight: 170px;

.tv-show {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100vw;
    height: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.780392) 10%, rgba(0, 0, 0, 0.68) 30%, rgba(2, 2, 2, 0.97) 41%);
  }

  &__header,
  &__body,
  &__footer {
    position: relative;
    z-index: 1;
  }

  &__header {
    height: 70px;
    padding: 25px 2vw;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 60px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 4px;
  }

  &__genres {
    display: inline-block;
  }

  &__genre,
  &__year {
    text-transform: uppercase;
    color: gray;
  }
  
  &__genre {

  }

  &__year {

    
  }

  &__body {
    display: flex;
    justify-content: flex-end;
    padding: 20px 2vw;
  }

  &__seasons-episodes {
    width: 410px;

    color: #b9b9b9;
 
    .nav-tabs {
      text-transform: uppercase;
    }
  }


  &__footer {
    height: 170px;
    background: #0a0a0a;
    padding: 20px 3vw;

    text-transform: uppercase;
    color: #fff;
  }
  
  .btn {

    &--close-show {
      position: absolute;
      width: 20px;;
      height: 20px;
      background: transparent;
      outline: none;
      top: 40px;
      right:  45px;
      z-index: 2;
      cursor: pointer;
    }
  }
}

