@import '~app/smacss/base/animations';

.loader {
  &--donut {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
    border-radius: 50%;
    border: 15px solid rgba(25, 0, 0, 0.301961);
    border-left-color: #F44336;

    animation: donut_spin 2s infinite cubic-bezier(0.45, 0.63, 1, 0.35);
  }
}

// donut_spin
