<div class="episode__title" (click)="onClick()">
  <span>
    {{ episodeData.EpisodeNumber + ' ' + episodeData.Title }} 
  </span>
  <i class="episode__play-btn">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="30px" height="30px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
      viewBox="0 0 47 47"
       xmlns:xlink="http://www.w3.org/1999/xlink">
       <defs>
        <style type="text/css">
      
          .str0 {stroke:#CCCCCC;stroke-width:1.69352}
          .fil0 {fill:none}
          .fil1 {fill:#CCCCCC}
        </style>
       </defs>
       <g id="Camada_x0020_1">
        <metadata id="CorelCorpID_0Corel-Layer"/>
        <rect class="fil0 str0" x="1" y="1" width="45.7264" height="45.7264" rx="27" ry="27"/>
        <polygon class="fil1" points="17,11 17,36 36,25 "/>
       </g>
      </svg>
      
  </i>
</div>

<div class="episode__content" [class.is-active]="isActive" >
<!-- <div class="episode__content" [hidden]="!isActive" > -->
  <img class="episode__img" src="{{episodeData.Image}}" alt="episodeData.Title">
  <div class="episode__synopsis">
    {{ episodeData.Synopsis }} 
  </div>
</div>