.tab__content {
  padding-top:  15px;

  &--cast {
    display: flex;
    
    ::ng-deep {
      .actor {
        padding: 30px 40px;
        height: 100%;
        display: block;
        background-color: #2b2a2a;
        margin-right: 20px;
        
        color: #fff;
      }
    }
  }
  
  &--general { 
    display: flex;
    line-height: 1.6;
  }
}

::ng-deep {
  .action-btns {
    display: flex;
  
    &__btn {
      width: 90px;
      height: 70px;
      cursor: pointer;

      text-align: center;
    }
  }

  .synopsis {
    margin-left: 40px;
  }
}