.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;  
  height: 100vh;  
  background: rgba(0, 0, 0, 0.980392);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

p {
  color: #fff;
  text-transform: uppercase;
  font-weight:bold;

  letter-spacing: 2px;
}