body { 
  font-family: 'Nunito';
  overflow-x: hidden; 
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  display: block;

  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
}

.mobileElem {
  @include breakpoint(min, 1024px) {
    display: none;
  }
}
