  //CLEARFIX
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin border-bottom($color) {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: $color;
  left: 0;
}

//BREAKPOINTS

@mixin breakpoint($minOrMax, $width , $media: "screen"){
    //REMOVE ONE PIXEL IF A "max" UNIT IS DESIRED
    @if $minOrMax == max { $width : $width - 1; }

    @media #{$media} AND (#{$minOrMax}-width : $width) {
        @content;
    }
}

